.profile {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 920px) {
  .profile {
    padding: 0 27px;
  }
}

@media screen and (max-width: 770px) {
  .profile {
    flex-direction: column;
  }
}