.profile__profile-info {
  display: grid;
  grid-template-areas: 
    "tT b ."
    "tJ tJ tJ"
  ;
}

@media screen and (max-width: 770px) {
  .profile__profile-info {
    margin-top: 26px;
    text-align: center;
  }
}