.popup__close {
  background-image: url(../../../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 580px) {
  .popup__close {
    right: 0;
    top: -55px;
    width: 26px;
    height: 26px;
    background-size: 40px;
  }
}