.elements__like {
  background-image: url(../../../images/like.svg);
  width: 22px;
  height: 19px;
  border: none;
  background-color: transparent;
  transition: .2s;
}

.elements__like:hover {
  opacity: 0.5;
  cursor: pointer;
}