.profile__job {
  margin: 0;
  margin-top: 16px;
  font-size: 18px;
  line-height: 22px;
  grid-area: tJ;
  max-width: 370px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 420px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
    max-width: 230px;
  }
}