.popup__field {
  font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  max-width: 358px;
  width: 100%;
  height: 27px;
  font-size: 14px;
  line-height: 17px;
}

.popup__field:first-of-type{
  margin-top: 54px;
  margin-bottom: 30px;
}

.popup__field:last-of-type{
  margin-bottom: 48px;
}

.popup__field:focus {
  outline: 0;
  border-bottom: 1px solid #000000;
}

@media screen and (max-width: 449px) {
  .popup__field {
    max-width: 238px;
    width: 100%;
  }
}